<div id='cacheIconButton' class="animatedButton"
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 0px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/list/cache.png" alt="Mountain View">
</div>

<script>
    var cacheIconButton = document.getElementById('cacheIconButton');
    cacheIconButton.addEventListener("click", showCacheArea, false);
    
    function showCacheArea()
    {
        draw_fieldListBundle('listBundle-cache');
        erase_fieldlistBundle('listBundle-specific');
        erase_fieldlistBundle('listBundle-datamining');
    }
</script>