<div id='specificIconButton' class="animatedButton"
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 60px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/list/specific.png" alt="Mountain View">
</div>



<script>
    var specificIconButton = document.getElementById('specificIconButton');
    specificIconButton.addEventListener("click", showSpecificArea, false);
    
    function showSpecificArea()
    {
        draw_fieldListBundle('listBundle-specific');
        erase_fieldlistBundle('listBundle-cache');
        erase_fieldlistBundle('listBundle-datamining');
    }
</script>