<div id="logIn" 
     style="position: absolute; 
     top: 30px; 
     right: 0px; 
     width: 165px; 
     height: 105px; 
     z-index: 3;">

    <div id="sessionBgColor"
         style="position: absolute;
         width: 100%;
         height: 100%;
         background-color: gray;
         opacity: 0.2;">
    </div>
    
    <input style="position: absolute; top: 10px; left: 10px;" type="text" id="user_name" name="keyword" size="19" placeholder="Username"/>
    
    <input style="position: absolute; top: 40px; left: 10px;" type="password" id="user_password" name="keyword" size="19" placeholder="Password"/>
    
    <div id="btnLogIn"
         style="
         position: absolute;
         height: 25px;
         width: 60px;
         top: 70px;
         left: 93px;">
        <div id="backgroundColorcloseWindow"
             style="position: absolute;
             width: 100%;
             height: 100%;
             background-color: white;
             opacity: 0.5;">
        </div>
        <div style="
             width: 100%; 
             height: 100%;
             top: 0px;
             right: 0px;
             position: absolute;
             cursor: pointer;">
         <center>LOG IN</center>
        </div>
    </div>
</div>



