<div id="btnLogOut"
     style="
     position: absolute;
     height: 30px;
     width: 65px;
     top: 10px;
     left: 10px;
     z-index: 10;">
    <div id="backgroundColorcloseWindow"
         style="position: absolute;
         width: 100%;
         height: 100%;
         background-color: white;
         opacity: 0.5;">
    </div>
    <div style="
         width: 100%; 
         height: 100%;
         top: 0px;
         right: 0px;
         position: absolute;
         cursor: pointer;">
        LOG OUT
    </div>
</div>