<div
    style="z-index: 2;
    position: absolute;">
    {#icons' images' IMAGES OR VISIBLE CONTENT#}
    {{ include('@Home/home/configuration/iconImage/manage.html.twig') }}

</div>

<div id='manageBgColor'
     style='
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>