<div id='videoIconContent'
     style="
     position: absolute;
     display: none;
     z-index: 2;
     color: white;
     font-size: small;
     width: 100%;
     top: 0px;
     bottom: 0px;">
    {{ include('@Video/Default/index.html.twig') }}
</div>