ARTIST

<div id="artistBundle">
    status Session
</div>

<script>
    window.onload = prepareArtistBundle();

    function prepareArtistBundle()
    {
        var form = $('#check-session-ajax');
        var url = form.attr('action');

        $.post(url, function (data)
        {
            var sessionStatus = data[0].sessionStatus;

            if (sessionStatus === "0")
            {
                var artistBundle = document.getElementById('artistBundle');
                artistBundle.innerHTML = "artistBundle... logout mode";
            } else
            {
                var artistBundle = document.getElementById('artistBundle');
                artistBundle.innerHTML = "artistBundle... login mode";
            }
        }).fail(function () {
            alert('ERROR');
        });
    }
</script>