<div id='dataminingIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 180px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;' 
         src="files/images/icons/presentation/datamining.png" alt="Mountain View">
</div>