<div id='listIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 150px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/presentation/list.png" alt="Mountain View">
</div>
<script>
    var listIconButton = document.getElementById('listIconButton');
    
    listIconButton.addEventListener("click", show_listIconContent, false);
    
    function show_listIconContent()
    {
        var listIconContent = document.getElementById('listIconContent');
        
        if (listIconContent.style.display == "none")
        {
            clear_options();
            listIconContent.style.display = "block";
        } else
        {
            listIconContent.style.display = "none";
        }
    }
</script>