<div id='mediaIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 60px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/presentation/media.png" alt="Mountain View">
</div>
<script>
    var mediaIconButton = document.getElementById('mediaIconButton');
    
    mediaIconButton.addEventListener("click", show_mediaIconContent, false);
    
    function show_mediaIconContent()
    {
        var mediaIconContent = document.getElementById('mediaIconContent');
        
        if (mediaIconContent.style.display == "none")
        {
            clear_options();
            mediaIconContent.style.display = "block";
        } else
        {
            mediaIconContent.style.display = "none";
        }
    }
</script>