<div id='profileIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 120px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/presentation/profile.png" alt="Mountain View">
</div>
<script>
    var profileIconButton = document.getElementById('profileIconButton');
    
    profileIconButton.addEventListener("click", show_profileIconContent, false);
    
    function show_profileIconContent()
    {
        var profileIconContent = document.getElementById('profileIconContent');
        
        if (profileIconContent.style.display == "none")
        {
            clear_options();
            profileIconContent.style.display = "block";
        } else
        {
            profileIconContent.style.display = "none";
        }
    }
</script>