<div id='searchIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;' 
         src="files/images/icons/presentation/search.png" alt="Mountain View">
</div>
<script>
    var searchIconButton = document.getElementById('searchIconButton');
    
    searchIconButton.addEventListener("click", show_searchIconContent, false);
    
    function show_searchIconContent()
    {
        var searchIconContent = document.getElementById('searchIconContent');
        
        if (searchIconContent.style.display == "none")
        {
            clear_options();
            searchIconContent.style.display = "block";
        } else
        {
            searchIconContent.style.display = "none";
        }
    }
</script>