<style>
    #videoCurrentTime {
        position: absolute;
        width: 40px;
        height: 30px;
        top: 0px;
        left: 180px;
        text-align: center;
        z-index: 1;
    }
</style>

<div id='videoCurrentTime' class='animatedButton'>
    00:00
</div>