<div id='previousIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: -200px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/playBanner/previous.png" alt="Mountain View">
</div>

<script>
        
    var previousIconButton = document.getElementById('previousIconButton');
    previousIconButton.addEventListener("click", showPreviousVideo, false);
        
    function showPreviousVideo()
    {
        var form = $('#show-previous-video-ajax');
        var url = form.attr('action');

        $.post(url, function (data)
        {
            alert("SHOW PREVIOUS VIDEO WORKS");
        }).fail(function () {
            alert('ERROR');
        });
    }
</script>