<div id='speedIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 90px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/playBanner/speed.png" alt="Mountain View">
</div>

<script>
    var speedIconButton = document.getElementById("speedIconButton");
    
    speedIconButton.addEventListener("click", function () {
        speedIconFunction();
    });
    
    function speedIconFunction()
    {
        alert("SPEED ICON!!! FUNCTION....");
    }
</script>